# Ignore build directories
bin/
obj/

# Visual Studio specific files and folders
.vs/
*.suo
*.user
*.userosscache
*.rsuser

# Rider and VS Code directories
.idea/
.vscode/

# Ignore compiled binaries
*.exe
*.dll
*.pdb

# MacOS specific files
.DS_Store
